In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('..\\dataset\\XAUUSDx_M1.csv')
data.head()

         date      time      open      high       low     close  tickvol
0  2025.06.11  13:41:00  3336.585  3336.979  3335.101  3335.798      503
1  2025.06.11  13:42:00  3335.760  3338.621  3335.451  3338.326      768
2  2025.06.11  13:43:00  3338.363  3339.328  3336.210  3336.210      469
3  2025.06.11  13:44:00  3336.185  3337.111  3332.880  3332.880      489
4  2025.06.11  13:45:00  3332.850  3333.115  3327.882  3330.022      845

In [17]:
data['date'] = pd.to_datetime(data['date'])
data.head()

        date      time      open      high       low     close  tickvol
0 2025-06-11  13:41:00  3336.585  3336.979  3335.101  3335.798      503
1 2025-06-11  13:42:00  3335.760  3338.621  3335.451  3338.326      768
2 2025-06-11  13:43:00  3338.363  3339.328  3336.210  3336.210      469
3 2025-06-11  13:44:00  3336.185  3337.111  3332.880  3332.880      489
4 2025-06-11  13:45:00  3332.850  3333.115  3327.882  3330.022      845

In [ ]:


print(data.head())

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
data = data.drop(columns=[])